<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="./css/vendor.css")
        link(rel="stylesheet" href="./css/main.css")
        title
            block title
    body
        block main
        include ../static/footer
        script(src="./js/vendor.js")
        script(src="./js/scripts.js")