extends ./template/single
block title
    | Index page
block main
    p Hello!
    h1  Diplomata style
    button(onclick="getAnswer(42)") get Answer
    img(src="./images/qw.jpg" alt="landscape")
